<style>
	h1
{
    display: inline;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;   
}

#content 
{
    text-align: center;
}
#content p 
{
    width: 750px;
}

            p {
                color: black;   
            }
            body {
	            background-image: url("images/strip.gif");
		    background-size: cover;
            }
            textarea {
				font-family:sans-serif;
				font-size:1.2em;
            }
            
</style>
