<style>
h1
{
	display: inline;
	font-weight: bold;
	text-align: center;
	font-size: 3em;   
}

h2 {
	font-size: 2em;
	color: #FBB12A;
}

ul{
  border: 1px solid white;
  padding-right: px;
  padding-left: 45px;
  width: 50px;
  border-radius: 5px;
  color: #FBB12A;
  font-weight: bold;
  font-size: 1.5em;
  background: #B2B2B1;
}

#content {
	text-align: center;
	color: #FBB12A;
}

#content p {
	width: 750px;
	font-size: 2.5em;

}

p {
	color: #FBB12A; 
	font-weight:bold;
}

body {
	background-image: url("images/strip.gif");
	background-color: #052389;
}

textarea {
	font-family:sans-serif;
	font-size:1.2em;
}
            
</style>
