<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  	background-image: url("images/strip.gif");
	background-color: #052389;

}

/* Style the header */
header {
  
  padding: 30px;
  text-align: center;
  font-size: 60px;
  color: #FBB12A;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

#twenty {
  float: left;
  padding: 20px;
  width: 50%;
  background-color: #000000;
  
}

#twentyone {
  float: right;
  padding: 20px;
  width: 50%;
  background-color: #71797E;
  
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

#one {
	color: #FBB12A; 
	font-weight:bold;
}
#two{
text-align: center;
color: white;
font-weight: bold;
font-size: 18px;
}
#nine{
  text-align: center;
  font-size: 45px;
  color: #FBB12A;
}
#ten{ 
  text-align: center;
  font-size: 45px;
  color: #FBB12A;
}

#myimage{
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: auto;
height: auto;
}
</style>
