        <style>
            h1 {
                color: white;
            }
            p {
                color: GhostWhite;   
            }
            body {
	            background-color: url('img_blue.jpg';
            }
            textarea {
				font-family:sans-serif;
				font-size:1.2em;
            }
            
        </style>
