        <style>
            h1 {
                color: white;
            }
            p {
                color: GhostWhite;   
            }
            body {
	            background-image: url("images/prints.gif");
		    background-size: cover;
            }
            textarea {
				font-family:sans-serif;
				font-size:1.2em;
            }
            
        </style>
