<style>
h1
{
	display: inline;
	font-weight: bold;
	text-align: center;
	font-size: 2.5em;   
}

h2 {
}

ul{
  border: 1px solid white;
  padding-right: 0px;
  padding-left: 28px;
  width: 50px;
  border-radius: 5px;
}

#content {
	text-align: center;
	color: #FBB12A;
}

#content p {
	width: 750px;
}

p {
	color: #FBB12A; 
	font-weight:bold;
}

body {
	background-image: url("images/strip.gif");
	background-color: #052389;
}

textarea {
	font-family:sans-serif;
	font-size:1.2em;
}
            
</style>
